body {
    font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;
}

.margen {
    margin: 30px 70px;
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    .navderecho {
        display: flex;
        flex-direction: row nowrap;
        justify-content: space-between;
    }
}
 





.contenedor {
background-image: url('../img/bg-hero.svg');
background-position: right bottom;
background-size: 100%;
background-repeat: no-repeat;
min-height: 60vw;

}
 
.hero-text {
    text-align: center;
    padding-right: 600px;
    padding-top: 50px;
}

.cararter {
    text-align: center;
    padding-bottom: 50px;
     
}

.grafico-texto {
    display: flex;
    flex-flow: row; 
    justify-content: space-around; 
    flex-wrap: wrap; 
    padding-left: 100px;  
    padding-right: 100px;  
}

.grafico {
    display: flex;
    justify-content: end;
    animation-name: grafico;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}
@keyframes grafico {
    from {
       opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fondo-cajas {
    background-image: url('../img/bg-price.png');
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vw;
    align-items: center;   
}

.precio {
    text-align: center;
    color:white;
    padding-top: 220px;
    
}

.cajas {
   
    display: flex;
    flex-direction: column nowrap;  
    align-items: center;
    justify-content: space-around;
    padding-top: 100px;
  
}

.button {
    background-size: 100%;

}
    

a {
    text-align: center;
}

.footer {
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;
    padding: 50px;
    .footer__grid_item {
         margin: 20px;
    }
    
    
    .footer__grid {
        color: white;
        display: flex;
        flex-flow: row nowrap; 
        align-items: flex-end;
       
      
       
    }
    .footer__derechos {
        color: white;
        display: flex;
        flex-flow: row nowrap;

    }
}




