


@media screen and (min-width:711px){
    
        .contenedor {
            background-image: url('../img/bg-hero.svg');
            background-position: right bottom;
            background-size: 100%;
            background-repeat: no-repeat;
            min-height: 60vw;
            display: flex;
            flex-direction: column;
            }
    }

@media screen and (min-width:400px){
    .hero-text {
        padding: 50px;
        padding-bottom: 400px;
    }
}


@media screen and (min-width:420px){
    .texto-grafico {
        display: flex;
        flex-direction: column nowrap;
        padding-top: 40px;
        text-align: center;
        justify-content: space-around;     
    }
}

@media screen and (min-width:815px){
    .cajas {
        display: flex;
    flex-direction: column wrap;  
    justify-content: center;
    justify-content: space-around; 
    }   
}

@media screen and (min-width:520px){
    .footer {
        color: white;
        display: flex;
        flex-direction: column wrap;
        

    }
}




